streamlit
langchain
langchain-community
langchain-core
langchain-nvidia-ai-endpoints
langchain-google-genai
google-generativeai
sentence-transformers
chromadb>=0.4.22
python-dotenv
numpy
torch
transformers
